body {
    margin: 10;
    padding: 0;
    background: rgb(217, 245, 3);
} header, nav, main, footer {
     width: 70%;
     display: flex;
     justify-content: justify;
    }
    header, nav {
        align-items: center;
    }
header {
    height: 75px;
    background: rgb(227, 33, 33);
    font-size: 30px;
}
nav  {
    width: 70%;
    height: 15px;
    background: rgb(38, 184, 246);
    font-size: 10px;
}
main {
    width: 70%;
    height: 400px;
    background: rgb(246, 245, 249);
    font-size: 20px;
}
aside {
    width: 30%;
    height: 510px;
    background: rgb(7, 220, 88);
    font-size: 20px;
    position:absolute;
    left: 70%;
}
footer  {
    width: 70%;
    height: 20px;
    background: rgba(245, 7, 221, 0.683);
    font-size: 15px;
}